@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.content-container {
  position: relative;
  display: flex; /* Cambio de grid a flex */
  flex-direction: column; /* Columna para que los elementos se muestren uno debajo del otro */
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}


.ventadecochera {
  max-width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

button {
  font-size: 13px;
  max-width: 90px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #f5cca0;
  cursor: pointer;
  border: .5px solid #282828;
  border-radius: 10px;
}

button:hover {
  background-color: #f0b87c;
  color: #1e1d1d;
}

h1 {
  font-size: 15px;
  text-align: center;
  border: 1px;
  border-radius: 10px;
  max-width: 90%; /* Ancho máximo para evitar desbordamientos */
}

p {
  font-size: 15px;
  text-align: center;
  border: 1px;
  border-radius: 10px;
  max-width: 90%; /* Ancho máximo para evitar desbordamientos */
}

#label {
  font-family: 'Poppins';
  font-size: small;
  display: inline-block;
  width: 150px; /* ajusta el ancho según tu preferencia */
  text-align: right; /* para alinear el texto a la derecha del label */
  margin-right: 10px; /* para agregar un poco de espacio entre el label y el input */
}

#input {
  font-family: 'Poppins';
  font-size: small;
  display: inline-block;
  width: 200px; /* ajusta el ancho según tu preferencia */
}


.top-stripe {
  position: fixed;
  height: 30px;
  width: 100%;
  background-color: #c1dcca;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 9999;
}

.bottom-stripe {
  position: fixed;
  height: 30px;
  width: 100%;
  background-color: #c1dcca;
  top: 0;
  bottom: 0;
  margin: 0;
  z-index: 9999;
  }